*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2.0rem;
   background-image: url("../images/bg.png");
   background-size: cover;
   background-repeat: repeat; }

   footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #000;
    bottom: 0;
    position: fixed;
    width: 100%;
    font-size: 0.8rem; 
    }

    footer p{
      color: #fff;
 
    }

    footer i{
        font-style: normal;
        margin-right: 10px;
    }
    footer .num{
        color: #ff8c0b;
        font-size: 0.9rem;
    }
    footer a{
        color: #fff;
        text-decoration: none;
    }

h1{
    color: #ff8c0b;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 2.5rem;
}

h2{ 
    font-size: 1.2rem;
    color: #ff8c0b;
    font-style: italic;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000; 
}

.container{
   margin: 0 auto;
   width: 100%;
   max-width: 800px;
}
.ion{
    text-align: center;
}
.woordNaam{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(87, 127, 187, 0.138);
    border-radius: 10px;
    font-weight: bolder;
    font-size: 4rem;
    color: #ff8c0b;
    padding: 10px;
    text-transform: capitalize;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000; 
    text-align: center;
}

button{
    width: 150px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: rgb(21, 108, 114);
    color: rgb(243, 228, 179);
    border-radius: 5px;
    text-transform: capitalize;
    margin: 5px;
    cursor: pointer;
}
.image{
    display: flex;
    justify-content: center;
}
.woorden{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.start{
    text-align: center;
}
.start #start{
    width: 300px;
    max-height: 80px;
    background-color: rgb(66, 102, 209);
    color: rgb(183, 221, 43);
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
}


.lichtbox {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 300;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  /* voor mobiel */

  @media only screen and (max-width: 680px){
    #ion img{
        width: 100px;
        }
    h1{ 
       
        font-size: 1,2rem;
    }
    
 .woorden button{
        width: 100px;
        height: 20px;
        font-size: 0.9rem;
        font-weight: 300;
        background-color: rgb(21, 108, 114);
        color: rgb(243, 228, 179);
        border-radius: 3px;
        text-transform: capitalize;
        margin: 3px;
        }

  }