
body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2.0rem;
   background-image: url("./images/bg.png");
   background-size: cover;
   background-repeat: no-repeat; }

h1{
    color: #ff8c0b;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000; 
}

h2{ 
    font-size: 1,2rem;
    color: #ff8c0b;
    font-style: italic;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000; 
}

.container{
   margin: 0 auto;
   width: 100%;
   max-width: 800px;
}
#ion{
text-align: center;
}

button{
    width: 150px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: rgb(21, 108, 114);
    color: rgb(243, 228, 179);
    border-radius: 5px;
    text-transform: capitalize;
    margin: 5px;
    

}
.image{
    max-width: 200px;
    display: flex;
    justify-content: center;
}
.woorden{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.start{
    text-align: center;
}
.start #start{
    width: 300px;
    max-height: 80px;
    background-color: rgb(66, 102, 209);
    color: rgb(183, 221, 43);
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
}


.lichtbox {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 300;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }